@{
    ViewData["Title"] = "Home Page";
}
<partial name="_GeneralAlert"/>

<p class="text-success">Produtos no carrinho: <vc:shopping-cart></vc:shopping-cart></p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My First ASP net core app</p>
</div>
